<div class="container m-5">
  <div class="container mb-4">
    <h1>Actividad Evaluable Tercer Trimestre</h1>
    <h2>
      <a href="https://www.thecocktaildb.com/" target="_blank">The Cocktail DB</a>
    </h2>
  </div>

  <nav class="container navbar navbar-md bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/listado']">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/listado']">Listado</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>